NODE_ENV=production
PORT=3000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=pos_user
POSTGRES_PASSWORD=replace_with_strong_password
POSTGRES_DB=pos_prod
POSTGRES_SSL=false
DB_LOGGING=false

JWT_SECRET=replace_with_long_random_secret
JWT_EXPIRES_IN=7d

FRONTEND_URLS=https://app.tudominio.com
FRONTEND_URL=https://app.tudominio.com

VITE_API_URL=https://app.tudominio.com/api/v1
